<!DOCTYPE html>

<head>
  <link href="/public/css/sun-common.css" rel="stylesheet" type="text/css" />

  <style type=text/css>
  </style>
</head>

<body>
  <div class="flex justify-center align-center">
    <h2>404 Page Not Found</h2>
  </div>
  <div class="flex justify-center align-center">
    <p>페이지를 찾을 수 없습니다.</p>
  </div>

  <script src="/public/js/sun-common.js"></script>
</body>

</html>