<meta charset="utf-8" />
<title><%- appInfo.serviceTitle %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="서비스 설명" />
<meta name="keywords" content="서비스 키워드" />
<meta name="author" content="sjmarine97@gmail.com" />

<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">

<!-- favicon -->
<link rel="shortcut icon" href="/public/images/common/favicon.ico">
<!-- common css -->
<link href="/public/css/sun-common.css" rel="stylesheet" type="text/css" />