<%
	const testData = locals.testData
%>

<h1><%- testData.title %></h1>

<p>this is a test view :)</p>
<p>the title above is from the server data.</p>

<footer>
  <p>sjmarine97@gmail.com</p>
</footer>